{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="static/css/Main.css">
{% endblock head %}



{% block content %}

<div id="home" class="container" style="background-color: rgb(61, 138, 89); height: auto; size: 100%;">
    <h1 style="text-align: center; font-size: 3em; color:#ffffff; font-family: 'Rubik'; font-weight: 600; font-style: normal;">דף קרדיטים</h1>
    <h1 style="text-align: center; color: #ffffff; font-family: 'Courier New', Courier, monospace;">אנשים שעזרו בהכנת באתר</h1>
</div>

<div id="courses" class="container">

    <div id="resources" class="container">
        <h2 style="text-align: center; font-size: 40px;">קרדיטים</h2>
        <div class="resources">
            <!-- רובלוקס סטודיו ישראל -->
            <div class="resource">
                <h3>Roblox Studio IL</h3>
                <p>פיתוח, תכנות ועיצוב האתר</p>
                <a href="https://discord.gg/roblox-studio-il-1098908799340908565" target="_blank">שרת הדיסקורד</a> </br>
                <img src="Images/Credits/RSIL.png" style="width: 75px; height: 75px; border-radius: 25%;">
            </div>
            <!-- Project X -->
            <div class="resource">
                <h3>Project X</h3>
                <p>עזרה בפרסום האתר</p>
                <a href="https://discord.gg/vmddZUeFDP" target="_blank">שרת הדיסקורד</a> </br>
                <img src="Images/Credits/ProjectX.png" style="width: 75px; height: 75px; border-radius: 25%;">
            </div>

        </div>

        <footer style="margin: 0; position: unset; width: auto; height: auto;">
            <div style="display: flex; justify-content: center;">
                <div style="margin-right: 10px;">
                    <ul>
                        <h4 style="color: #fff; text-align: center; margin-bottom: 5px; font-weight: 300; font-size: 16px;">קישורים חיצוניים</h4>
                        <hr style="border-top: 1px solid #fff; width: 80%; margin: auto;">
                        <li><a href="https://devforum.roblox.com/" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">DevForum</a></li>
                        <li><a href="https://create.roblox.com/docs" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">Creator Hub</a></li>
                        <li><a href="https://www.roblox.com/home" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">Roblox</a></li>
                    </ul>
                </div>
                <div style="margin-right: 10px;">
                    <ul>
                        <h4 style="color: #fff; text-align: center; margin-bottom: 5px; font-weight: 300; font-size: 16px;">קהילות שפיתחו את האתר</h4>
                        <hr style="border-top: 1px solid #fff; width: 80%; margin: auto;">
                        <li><a href="https://discord.gg/roblox-studio-il-1098908799340908565" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">Roblox Studio IL</a></li>

                    </ul>
                </div>
                <div style="margin-right: 10px;">
                    <ul>
                        <h4 style="color: #fff; text-align: center; margin-bottom: 5px; font-weight: 300; font-size: 16px;">דפים</h4>
                        <hr style="border-top: 1px solid #fff; width: 80%; margin: auto;">
                        <li><a href="/" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">דף ראשי</a></li>
                        <li><a href="/lessons" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">מדריכים</a></li>
                        <li><a href="/ai" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">בינה מלאכותית</a></li>
                        <li><a href="/updates" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">עדכונים</a></li>
                    </ul>
                </div>
                <div style="margin-right: 10px;">
                    <ul>
                        <h4 style="color: #fff; text-align: center; margin-bottom: 5px; font-weight: 300; font-size: 16px;">מדיה חברתית</h4>
                        <hr style="border-top: 1px solid #fff; width: 80%; margin: auto;">
                        <li><a href="https://www.youtube.com/channel/UC540EEqnGaYfU05uHBoAFqg" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">יוטיוב</a></li>
                        <li><a href="https://www.tiktok.com/@robloxstudioil" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">טיקטוק</a></li>
                    </ul>
                </div>
            </div>
            <div style="text-align: right; margin-top: 20px; margin-right: 20px; font-size: 15px; color: #e0e0e0;">כל הזכויות שמורות @ Roblox Studio IL - 2024</div>
        </footer>
        
    </div>
{% endblock content %}
