{% extends 'base.html' %}

{% block head %}
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.0.0/firebase-database-compat.js"></script>
{% endblock head %}

{% block content %}
    <style>
        body {
            background-color: #f2f2f2;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .form-container {
            margin: 50px auto;
            width: 50%;
            padding: 30px;
            border: 2px solid #444;
            border-radius: 15px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        h1, h2 {
            color: #444;
            text-align: center;
        }
        label {
            color: #666;
            font-weight: bold;
        }
        textarea, select {
            width: calc(100% - 20px);
            padding: 10px;
            margin: 8px 0;
            border: 2px solid #888;
            border-radius: 5px;
            background-color: #f9f9f9;
            color: #444;
            resize: none;
        }
        button[type="submit"] {
            background-color: #007bff;
            border: none;
            color: #fff;
            padding: 15px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            display: block;
            margin: 20px auto 0;
            font-size: 18px;
            font-weight: bold;
            box-shadow: 0 4px 6px rgba(0, 123, 255, 0.1);
        }
        button[type="submit"]:hover {
            background-color: #0056b3;
        }
        .form-group {
            margin-bottom: 20px;
        }
    </style>
    <div class="form-container">
        <h1>טופס בקשת מדריך</h1>
        <div>
            <h2>אילו מדריכים תרצה לראות אצלנו?</h2>
            <form action="/guide_request" method="POST">
                <div class="form-group">
                    <label for="message">ספר לנו על המדריך שתרצה שניצור:</label><br>
                    <textarea id="message" name="message" rows="4" placeholder="כתוב כאן..." required></textarea>
                </div>
                <div class="form-group">
                    <label for="guide">איזה סוג של מדריך תרצה?</label><br>
                    <select id="guide" name="guide" required>
                        <option value="סרטון">סרטון</option>
                        <option value="סקריפט יומי">סקריפט יומי</option>
                        <option value="מודל יומי">מודל יומי</option>
                    </select>
                </div>
                <button type="submit">שליחת בקשה</button>
            </form>
        </div>
    </div>
{% endblock content %}
