{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="static/css/AIPage.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock head %}

{% block content %}
<style>
            @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
        *{
            margin: 0;
            padding: 0;
            outline: none;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        body{
            height: 100vh;
            background-image: linear-gradient(45deg, #ffd700, #ffd53b, #ffd26c, #ffc46c, #ffc04d, #ffc03a, #cca300);
        }
        #soon-page{
            position: relative;
            top: 20%;
            left: 0;
            right: 0;
            bottom: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #fff;
            box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
            border-radius: 5px;
            @media screen and (max-width: 768px) {
                position: relative;
                left: 0;
                right: 0;
                bottom: 0;
                top: 10%;
                padding: 0 10px;
            }
        }
        #soon-page .content{
            max-width: 600px;
            text-align: center;
            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }
        .content h2.header{
            font-size: 8em;
            line-height: 1em;
            position: relative;
            @media screen and (max-width: 768px) {
                font-size: 5em;
            }
        }
        .content h2.header:after{
            position: absolute;
            content: attr(data-text);
            top: 0;
            left: 0;
            right: 0;
            background: repeating-linear-gradient(45deg, #87ceeb 0px 20px, #6b9cc7 20px 40px, #5c8daa 40px 60px, #4e84ae 60px 80px, #4377a8 80px 100px, #38659c 100px 120px, #34557f 120px 140px);
            background-size: 140px 140px;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 1px 1px 2px rgba(255,255,255,0.25);
            animation: animate 10s ease-in-out infinite;
            @media screen and (max-width: 768px) {
                font-size: 4em;
            }
        }
        @keyframes animate {
            0% {
                background-position: 0 0;
            }
            100% {
                background-position: 140px 140px;
            }
        }
        .content h4{
            font-size: 1.5em;
            margin-bottom: 20px;
            text-transform: uppercase;
            color: #000;
            font-size: 2em;
            max-width: 600px;
            position: relative;
            @media screen and (max-width: 768px) {
                font-size: 1.2em;
            }
        }
        .content h4:after{
            position: absolute;
            content: attr(data-text);
            top: 0;
            left: 0;
            right: 0;
            text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            @media screen and (max-width: 768px) {
                font-size: 1em;
            }
        }
        .content p{
            font-size: 1.2em;
            color: #0d0d0d;
            @media screen and (max-width: 768px) {
                font-size: 1em;
            }
        }
        .content .btns{
            margin: 25px 0;
            display: inline-flex;
            @media screen and (max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
        }
        .content .btns a{
            display: inline-block;
            margin: 0 10px;
            text-decoration: none;
            border: 2px solid #69a6ce;
            color: #69a6ce;
            font-weight: 500;
            padding: 10px 25px;
            border-radius: 25px;
            text-transform: uppercase;
            transition: all 0.3s ease;
            @media screen and (max-width: 768px) {
                width: 100%;
                margin: 10px;
            }
        }
        .content .btns a:hover{
            background: #69a6ce;
            color: #fff;
        }
</style>
<div id="soon-page">
    <div class="content">
       <h2 class="header" data-text="תמיכה" style="font-size: 10em;">
          תמיכה
       </h2>
       <h2 data-text="Soon">
          צריך לדבר עם התמיכה של האתר?
       </h2>
       <p>
          ניתן לפנות לתמיכה של האתר דרך שרת הדיסקורד שלנו
       </p>
       <div class="btns">
          <a href="/">חזור לדף הבית</a>
          <a href="https://discord.gg/roblox-studio-il-1098908799340908565">תמיכת דיסקורד</a>
          <a href="https://discord.com/channels/1098908799340908565/1145810682151972954">פתיחת טיקט דיסקורד</a>
       </div>
    </div>
 </div>
{% endblock content %}
