{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="static/css/Main.css">
{% endblock head %}



{% block content %}

<div id="home" class="container" style="background-color: rgb(204, 203, 152); height: auto; size: 100%;">
    <h1 style="text-align: center; font-size: 3em; color:#ffffff; font-family: 'Rubik'; font-weight: 600; font-style: normal;">עדכוני רובלוקס סטודיו</h1>
    <h1 style="text-align: center; color: #ffffff; font-family: 'Courier New', Courier, monospace;">עדכונים חשובים ברובלוקס סטודיו</h1>
</div>





<div id="courses" class="container">

    <div id="resources" class="container">
        <h2 style="text-align: center; font-size: 40px;">עדכונים חדשים</h2>
        <div class="resources">
            <!-- UGC -->
            <div class="resource">
                <h3 style="font-size: 20px;">עדכון משמעותי לחנות האווטאר</h3>
                <p style="font-size: 16px;">רובלוקס הודיעו כי מעכשיו כל אחד יכול לפרסם פריטי UGC בחנות האווטאר, אבל יש דרישות בשביל שתוכלו לפרסם פריט UGC לחנות.</p>
                <a href="https://devforum.roblox.com/t/opening-up-marketplace-to-more-creators/2931299" target="_blank" style="font-size: 16px;">מקור</a> </br>
                <img src="../static/images/Updates/UGC.png" style="width: 360px; height: 190px; border-radius: 3%">
            </div>
        </div>




        <h2 style="text-align: center; font-size: 40px;">עדכונים ישנים</h2>
        <div class="resources">
            <!-- Synapse -->
            <div class="resource">
                <h3 style="font-size: 20px;">רובלוקס הכריזו על שיתוף פעולה עם "Synapse"</h3>
                <p style="font-size: 16px;">למי שלא יודע, Synapse הם האקים שנחשבים בין הכי טובים לרובלוקס. היה ניתן לרכוש עד לא מזמן את ההאקים האלה בסכום של 20 דולר. כמו שרובנו יודעים, לאחרונה רובלוקס יוצר הגנות מפותחות יותר ויותר נגד האקים, אבל Synapse תמיד הצליחו לעקוף את זה, אבל לא עוד. מעכשיו רובלוקס בשיתוף פעולה עם Synapse על מנת למנוע האקים במשחק. מי שקנה את ההאקים ב20 דולר, לא יפגעו לכם יותר במשחק (:</p>
                <a href="https://devforum.roblox.com/t/exploit-prevention-update/2663101" target="_blank" style="font-size: 16px;">מקור</a> </br>
                <img src="../static/images/Updates/Synapse.jpeg" style="width: 340px; height: 190px; border-radius: 3%">
            </div>
        </div>









        <footer style="margin: 0; position: unset; width: auto; height: auto;">
            <div style="display: flex; justify-content: center;">
                <div style="margin-right: 10px;">
                    <ul>
                        <h4 style="color: #fff; text-align: center; margin-bottom: 5px; font-weight: 300; font-size: 16px;">קישורים חיצוניים</h4>
                        <hr style="border-top: 1px solid #fff; width: 80%; margin: auto;">
                        <li><a href="https://devforum.roblox.com/" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">DevForum</a></li>
                        <li><a href="https://create.roblox.com/docs" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">Creator Hub</a></li>
                        <li><a href="https://www.roblox.com/home" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">Roblox</a></li>
                    </ul>
                </div>
                <div style="margin-right: 10px;">
                    <ul>
                        <h4 style="color: #fff; text-align: center; margin-bottom: 5px; font-weight: 300; font-size: 16px;">קהילות שפיתחו את האתר</h4>
                        <hr style="border-top: 1px solid #fff; width: 80%; margin: auto;">
                        <li><a href="https://discord.gg/roblox-studio-il-1098908799340908565" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">Roblox Studio IL</a></li>

                    </ul>
                </div>
                <div style="margin-right: 10px;">
                    <ul>
                        <h4 style="color: #fff; text-align: center; margin-bottom: 5px; font-weight: 300; font-size: 16px;">דפים</h4>
                        <hr style="border-top: 1px solid #fff; width: 80%; margin: auto;">
                        <li><a href="/" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">דף ראשי</a></li>
                        <li><a href="/lessons" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">מדריכים</a></li>
                        <li><a href="/ai" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">בינה מלאכותית</a></li>
                        <li><a href="/updates" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">עדכונים</a></li>
                    </ul>
                </div>
                <div style="margin-right: 10px;">
                    <ul>
                        <h4 style="color: #fff; text-align: center; margin-bottom: 5px; font-weight: 300; font-size: 16px;">מדיה חברתית</h4>
                        <hr style="border-top: 1px solid #fff; width: 80%; margin: auto;">
                        <li><a href="https://www.youtube.com/channel/UC540EEqnGaYfU05uHBoAFqg" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">יוטיוב</a></li>
                        <li><a href="https://www.tiktok.com/@robloxstudioil" style="color: #e0e0e0; font-family: Arial, sans-serif; font-weight: 300;">טיקטוק</a></li>
                    </ul>
                </div>
            </div>
            <div style="text-align: right; margin-top: 20px; margin-right: 20px; font-size: 15px; color: #e0e0e0;">כל הזכויות שמורות @ Roblox Studio IL - 2024</div>
        </footer>
        
    </div>
{% endblock content %}
